---
import { Image } from "@astrojs/image/components";
import { CollectionEntry, getCollection } from "astro:content";

import { simpleDate } from "../lib";

import Layout from "../layouts/Layout.astro";
import songs from "../data/songs.json";
import whiskies from "../data/whisky.json";
import photos from "../photos/data.json";
import blogroll from "../data/blogroll.json";

type Whisky = { name: string; rating: string };

function whiskyRating(w: Whisky) {
  return parseFloat(w.rating.split("/")[0]);
}

function sortWhisky(a: Whisky, b: Whisky) {
  const ar = whiskyRating(a);
  const br = whiskyRating(b);
  // desc. sort
  if (ar > br) return -1;
  if (br > ar) return 1;
  return 0;
}

function formatDate(date: Date) {
  return `${date.getFullYear()}/${(date.getMonth() + 1).toString().padStart(2, '0')}/${date.getDay().toString().padStart(2, '0')}`;
}

function writeUpLink(link: CollectionEntry<'link'>) {
  if (link.body) {
    // TODO
    return 'some writeup';
  }
  return 'no write-up';
}

const linkCollection = (await getCollection("link")).sort((a, b) =>
  Date.parse(b.data.date) - Date.parse(a.data.date)
);

const latestPost = (await Astro.glob("./post/*.md")).sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
)[0];

const latestPhoto = photos[0];
---

<Layout title="Barely Laughing">
  <main class="grid grid-cols-1 md:grid-cols-2 gap-x-5">
    <section class="col-span-1 md:col-span-2">
      <h2>Latest Photo</h2>
      <div class="border border-gray-700">
        <div class="flex justify-between bg-gray-800 px-1">
          <h3>{latestPhoto.name}</h3>
          <a href="/photos" class="text-orange-500">view &raquo;</a>
        </div>
        <Image
          src={import(/* @vite-ignore */ `../photos/${latestPhoto.src}.jpg`)}
          alt={`Latest photo: ${latestPhoto.name}, ${latestPhoto.location}`}
        />
      </div>
    </section>

    <section>
      <div>
        <div class="flex items-center">
          <h2 class="flex-1">Latest Post</h2>
          <a href="/posts" class="text-orange-500">see more &raquo;</a>
        </div>
        <p class="p-2 text-center">
          {simpleDate(latestPost.frontmatter.date)}
          <a href={latestPost.url} class="text-orange-500"
            >{latestPost.frontmatter.title}</a
          >
        </p>
      </div>

      <div>
        <h2 class="bg-gradient-to-t from-orange-500 to-orange-600 px-4">Cool Links</h2>
        <p class="text-sm">Showing 15 of {linkCollection.length}</p>
        <div class="divide-y divide-gray-700">
          {
            linkCollection.slice(0, 15).map((link) => (
              <p class="py-0.5">
                <a
                  class="flex items-center text-orange-500"
                  href={link.data.url}
                  target="_blank"
                >
                  <span class="flex-1">{link.data.title}</span>
                </a>
                <span class="text-xs">{formatDate(link.data.date)} &bull; {writeUpLink(link)}</span>
              </p>
            ))
          }
        </div>

        <h2>Cool Blogs</h2>
        <div>
          <p
            class="text-xs border border-gray-700 bg-gray-800 p-1 text-justify"
          >
            Just a small section here to list a couple of blogs with high
            quality posts. May read infrequently but nice to have even a small
            alternative to news aggregator websites like HN and reddit.
          </p>
          <ul>
            {
              blogroll.map((blog) => (
                <li class="my-1">
                  <a href={blog.link} class="text-orange-500" target="_blank">
                    {blog.name}
                  </a>{" "}
                  - {blog.tag}
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </section>

    <section>
      <div>
        <div class="flex items-center">
          <h2 class="flex-1">Cool Songs</h2>
          <a href="/songs" class="text-orange-500">see more &raquo;</a>
        </div>
        <div class="border border-gray-700 divide-y divide-gray-700">
          {
            songs.slice(0, 5).map((song, i) => (
              <p>
                <a
                  href={song.link}
                  target="_blank"
                  class={`p-1 block hover:bg-gray-700 ${
                    i % 2 == 0 ? "bg-gray-900" : "bg-gray-800"
                  }`}
                >
                  <>
                    <span>{song.name}</span>
                    <br />
                  </>
                  <span class="text-xs">{song.artist}</span>
                </a>
              </p>
            ))
          }
        </div>
      </div>

      <div>
        <h2>Whisky List</h2>
        <table class="table-auto border border-gray-700 w-full">
          <thead class="bg-gray-800">
            <th>Name</th>
            <th>Rating</th>
            <th>Value*</th>
          </thead>
          <tbody>
            {
              whiskies.sort(sortWhisky).map((whisky, i) => (
                <tr class={`${i % 2 == 0 ? "bg-gray-900" : "bg-gray-800"}`}>
                  <td class="tl">{whisky.name}</td>
                  <td>{whisky.rating}</td>
                  <td>{whisky.value}</td>
                </tr>
              ))
            }
          </tbody>
        </table>
        <p class="text-sm">
          * Rating when accounting for price paid. Prices are historic and may
          not reflect the value of the whisky at it's current price. May also
          factor integrity, i.e. <abbr title="No Age Statement">NAS</abbr>,
          <abbr title="Non-Chill Filtered">NCF</abbr>,
          <abbr title="No Colour Added">NCA</abbr>.
        </p>
        <p class="text-sm">
          ** ? denotes a whisky which was gifted or part of a set, so no value
          can be determined.
        </p>
      </div>
    </section>
  </main>
</Layout>

<style>
  h2 {
    @apply text-lg;
    @apply font-semibold;
    @apply my-2;
  }

  th {
    @apply text-left;
  }

  td {
    @apply text-center;
  }

  .tl {
    @apply text-left;
    @apply pl-1;
  }
</style>
