---
import { Image } from "@astrojs/image/components";
import { getCollection } from "astro:content";

import {
  simpleDate,
  sortWhisky,
  formatDate,
  sortLink,
} from "../lib";

import Layout from "../layouts/Layout.astro";
import songs from "../data/songs.json";
import whiskies from "../data/whisky.json";
import photos from "../photos/data.json";
import blogroll from "../data/blogroll.json";

const linkCollection = (await getCollection("link")).sort(sortLink);

const latestPost = (await Astro.glob("./post/*.md*")).sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
)[0];

const latestPhoto = photos[0];
const latestPhotoSrc = (await import(/* @vite-ignore */ `../photos/${latestPhoto.src}.jpg`)).default;
---

<Layout title="Barely Laughing">
  <main class="grid grid-cols-1 md:grid-cols-2 gap-x-5 gap-y-2">
    <section class="col-span-1 md:col-span-2">
      <div
        class="flex items-center bg-[#5E2BFF] text-white rounded-lg border-2 border-black px-4 mb-2"
      >
        <h2 class="flex-1">Latest Photo</h2>
        <a href="/gallery">see more &raquo;</a>
      </div>
      <div class="border-2 border-black rounded-t-lg bg-[#5E2BFF]">
        <div class="flex justify-between items-center p-1 text-white">
          <h3>{latestPhoto.name}</h3>
          <p class="text-xs">&copy; Copyright 2023 All Rights Reserved</p>
        </div>
        <Image
          src={latestPhotoSrc}
          alt={`Latest photo: ${latestPhoto.name}, ${latestPhoto.location}`}
          format="webp"
          width="1089"
        />
      </div>
    </section>

    <section>
      <div>
        <div
          class="flex items-center bg-[#5E2BFF] text-white rounded-lg border-2 border-black px-4 mb-2"
        >
          <h2 class="flex-1">Latest Post</h2>
          <a href="/posts">see more &raquo;</a>
        </div>
        <p class="p-2 text-center">
          {simpleDate(latestPost.frontmatter.date)}
          <a href={latestPost.url} class="text-[#5E2BFF]"
            >{latestPost.frontmatter.title}</a
          >
        </p>
      </div>

      <div class="mt-2">
        <div
          class="flex items-center bg-[#5E2BFF] text-white rounded-lg border-2 border-black px-4 mb-2"
        >
          <h2 class="flex-1">Cool Links</h2>
          <a href="/links">see more &raquo;</a>
        </div>
        <div>
          {
            linkCollection.slice(0, 10).map((link) => (
              <p class="p-1 bg-[#FFB999] mb-1">
                <a
                  class="flex items-center text-[#5E2BFF]"
                  href={link.data.url}
                  target="_blank"
                >
                  <span class="flex-1">{link.data.title}</span>
                  <span class="text-xs">
                    {formatDate(link.data.date)}
                  </span>
                </a>
                {link.body.length > 0 ? <><a href={`/links/${link.slug}`} class="text-[#5E2BFF] text-xs">notes</a></> : null}
              </p>
            ))
          }
        </div>
        <p class="text-sm text-center mt-2">
          Showing 10 of {linkCollection.length}
        </p>

        <div
          class="flex items-center bg-[#5E2BFF] text-white rounded-lg border-2 border-black px-4 mt-2 mb-2"
        >
          <h2>Cool Blogs</h2>
        </div>
        <div>
          <p
            class="text-xs p-1 text-justify"
          >
            Just a small section here to list a couple of blogs with high
            quality posts. May read infrequently but nice to have even a small
            alternative to news aggregator websites like HN and reddit.
          </p>
          <ul>
            {
              blogroll.map((blog) => (
                <li class="my-1">
                  <a href={blog.link} class="text-[#5E2BFF]" target="_blank">
                    {blog.name}
                  </a>{" "}
                  - {blog.tag}
                </li>
              ))
            }
          </ul>
        </div>
      </div>
    </section>

    <section>
      <div>
        <div
          class="flex items-center bg-[#5E2BFF] text-white rounded-lg border-2 border-black px-4 mb-2"
        >
          <h2 class="flex-1">Cool Songs</h2>
          <a href="/songs">see more &raquo;</a>
        </div>
        <div>
          {
            songs.slice(0, 5).map((song, i) => (
              <p>
                <a
                  href={song.link}
                  target="_blank"
                  class="p-1 block bg-[#FFB999] mb-1"
                >
                  <>
                    <span class="text-[#5E2BFF]">{song.name}</span>
                    <br />
                  </>
                  <span class="text-xs">{song.artist}</span>
                </a>
              </p>
            ))
          }
        </div>
        <p class="text-sm text-center mt-2">
          Showing 5 of {songs.length}
        </p>
      </div>

      <div>
        <div
          class="flex items-center bg-[#5E2BFF] text-white rounded-lg border-2 border-black px-4 mt-2 mb-2"
        >
          <h2 class="flex-1">Whisky List</h2>
        </div>
        <table class="table-auto w-full">
          <thead>
            <th>Name</th>
            <th>Rating</th>
            <th>Value*</th>
          </thead>
          <tbody>
            {
              whiskies.sort(sortWhisky).map((whisky, i) => (
                <tr class={`${i % 2 == 0 ? "bg-[#FFB999]" : "bg-[#FFAB85]"}`}>
                  <td class="tl">{whisky.name}</td>
                  <td>{whisky.rating}</td>
                  <td>{whisky.value}</td>
                </tr>
              ))
            }
          </tbody>
        </table>
        <p class="text-xs">
          * Rating when accounting for price paid. Prices are historic and may
          not reflect the value of the whisky at it's current price. May also
          factor integrity, i.e. <abbr title="No Age Statement">NAS</abbr>,
          <abbr title="Non-Chill Filtered">NCF</abbr>,
          <abbr title="No Colour Added">NCA</abbr>.
        </p>
        <p class="text-xs">
          ** ? denotes a whisky which was gifted or part of a set, so no value
          can be determined.
        </p>
      </div>
    </section>
  </main>
</Layout>

<style>
  h2 {
    @apply text-lg;
    @apply font-semibold;
    @apply my-2;
  }

  th {
    @apply text-left;
  }

  td {
    @apply text-center;
  }

  .tl {
    @apply text-left;
    @apply pl-1;
  }
</style>
