---
import Layout from "../layouts/Layout.astro";
import links from "../data/links.json";
import songs from "../data/songs.json";
import whiskies from "../data/whisky.json";

type Whisky = { name: string; rating: string; };

function whiskyRating(w: Whisky) {
  return parseFloat(w.rating.split("/")[0]);
}

function sortWhisky(a: Whisky, b: Whisky) {
  const ar = whiskyRating(a);
  const br = whiskyRating(b);
  // desc. sort
  if (ar > br) return -1;
  if (br > ar) return 1;
  return 0;
}
---

<Layout title="Barely Laughing">
  <main>
    <h2>Cool Links</h2>
    <section class="max-h-72 overflow-y-auto">
      {links.map(link => (<a class="l flex items-center px-2 py-1" href={link.link} target="_blank">
        <span class="flex-1">{link.title}</span>
        <span class="text-xs">{link.date}</span>
      </a>))}
    </section>

    <div class="flex flex-col lg:flex-row gap-2">
      <div class="flex-1">
        <h2>Cool Songs</h2>
        <section>
          {songs.map((song, i) => (<a class={`${i % 2 === 0 ? "bg-gray-200" : "bg-gray-300"} l px-2 py-1 block`} href={song.link} target="_blank">
            <span class="flex-1">{song.name}</span><br />
            <span class="text-xs">{song.artist}</span>
          </a>))}
        </section>
      </div>

      <div class="flex-1">
        <h2>Whisky List</h2>
        <section>
          {whiskies.sort(sortWhisky).map((whisky, i) => (
            <div class={`flex px-2 ${i % 2 === 0 ? "bg-gray-200" : "bg-gray-300"}`}><span class="flex-1">{whisky.name}</span><span>{whisky.rating}</span></div>
          ))}
        </section>
      </div>
    </div>
  </main>
</Layout>

<style>
  h2 {
    @apply text-center;
    @apply text-lg;
    @apply font-semibold;
    @apply my-2;
  }

  section .l:hover {
    @apply bg-emerald-500;
    @apply text-white;
  }
</style>
