---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { formatDate, sortLink } from "../lib";

const linkCollection = (await getCollection("link")).sort(sortLink);
---

<Layout title="Barely Laughing - Cool Links">
    <h2 class="text-xl font-semibold mb-2">Showing {linkCollection.length} links</h2>
    <p class="mb-2 text-sm">
        The notes are a work in progress because I decided to do them after
        adding loads of links.
    </p>
    <table class="table-fixed border border-gray-700 w-full overflow-x-auto block">
        <thead class="bg-gray-800">
            <th class="w-9/12">Title</th>
            <th>Date Added</th>
            <th>Notes</th>
        </thead>
        <tbody>
            {
                linkCollection.map((link, i) => {
                    return (
                        <tr
                            class={`${
                                i % 2 == 0 ? "bg-gray-900" : "bg-gray-800"
                            }`}
                        >
                            <td class="py-2 px-1">
                                <a href={link.data.url}>{link.data.title}</a>
                            </td>
                            <td>{formatDate(link.data.date)}</td>
                            <td class="text-center">
                                {link.body.length > 0 ? (
                                    <a href={`/links/${link.slug}`} class="w-full block">View</a>
                                ) : null}
                            </td>
                        </tr>
                    );
                })
            }
        </tbody>
    </table>
</Layout>
