---
export interface Props {
    title: string;
}

const { title } = Astro.props as Props;

const c_navBtn =
    "block w-full text-center md:text-left bg-[#FFB999] rounded-lg px-4 py-2 hover:bg-[#FFAB85] border-2 border-black";
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta
            name="description"
            content="Personal website of Matt R: programming, music, tech, bird watching and other interests"
        />
        <link rel="icon" type="image/x-icon" href="/images/favicon.png" />
        <title>{title}</title>
    </head>

    <body>
        <div class="max-w-5xl min-h-screen w-full px-5 pb-0 sm:pb-5">
            <header
                class="bg-[#00A878] text-center py-1 border-4 border-[#C1D7AE] text-white mb-2.5 mt-2.5 text-lg font-bold rounded-xl"
            >
                <h1><a href="/">A Delightful Abstraction</a></h1>
            </header>

            <main class="flex flex-col md:flex-row gap-x-4">
                <nav class="w-full flex-none md:w-1/5 mb-2">
                    <ul id="nav-items" class="hidden md:block space-y-1 mb-3">
                        <li><a class={c_navBtn} href="/">Home</a></li>
                        <li><a class={c_navBtn} href="/posts">Posts</a></li>
                        <li><a class={c_navBtn} href="/birds">Bird List</a></li>
                        <li>
                            <a class={c_navBtn} href="/gallery">Photography</a>
                        </li>
                    </ul>

                    <div
                        class="flex md:block justify-between md:justify-items-start items-center md:items-start"
                    >
                        <p class="text-xs text-center">
                            <a
                                href="https://creativecommons.org/licenses/by-sa/4.0/"
                                target="_blank">&copy; CC BY-SA 4.0</a
                            >
                        </p>
                        <button
                            class="block md:hidden"
                            id="toggle-btn"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke-width="1.5"
                                stroke="currentColor"
                                class="w-6 h-6"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                                ></path>
                            </svg>
                        </button>
                    </div>
                </nav>

                <div class="main-w flex-1">
                    <slot />
                </div>
            </main>
        </div>

        <script type="text/javascript">
            const button = document.getElementById("toggle-btn");
            const navItems = document.getElementById("nav-items");

            button.addEventListener('click', () => {
                navItems.classList.toggle('hidden');
                if (navItems.classList.contains('hidden')) {
                    button.innerHTML =
                        '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path></svg>';
                } else {
                    button.innerHTML =
                        '<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /></svg>';
                }
            });
        </script>
    </body>
</html>

<style>
    body {
        @apply text-black;
        background-color: #FFCAB1;
        font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
    }

    .main-w {
        min-width: 70%;
    }
</style>
